<link href="../../common_styles/home.css" rel="stylesheet">

<section class="background-color-blue">
    <section class="padding text-left">
        <div class="row">
            <div class="col-lg-6 col-md-4 text-left">
                <img src="/sitestatic/media/public_assets/image-home.png" id="decorationImg" alt="Logo Cyphub" class="img-fluid animated">
            </div>

            <div class="col-lg-6 col-md-8">
                <h1 class="homeTitle">Bienvenue dans votre salle InProto !</h1>
                <p class="colorText lead">Ici, vous pouvez visualiser les disponibilités de la salle de prototypage rapide et le stock de matériel. Veuillez vous connecter ci-dessus pour avoir accès aux services d'impressions 3D et de demande de matériel. Si vous n'avez pas accès à la salle, vous pouvez vous connecter pour faire une demande de formation aux machines et obtenir l'accès</p>
                <div class="col-lg-8 col-md-8 mx-left">
                    <a href="/Auth/Login" class="cta colorText noneColor text-left block">
                        <span class="visual">Se connecter</span>
                        <svg class="svg1" width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                    <a href="/Auth/SignUp" class="cta colorText noneColor text-left block">
                        <span class="visual">Emploi du temps</span>
                        <svg class="svg1" width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="py-3 text-center container overlap">
    <div class="py-lg-5">
        <!-- Conteneur de boutons -->
        <div id="buttonContainer" class="row">
            <div class="col-md-4 d-flex justify-content-center">
                <a href="" type="button" class="w-20 rounded-4 btn btn-lg text-center colorButton shadow-gn grow-button">
                    <img class="iconSize" src="../../media/public_assets/broche-de-localisation%20(1).png" alt="Icone Localisation">
                    <p class="colorText responsiveText">Localisation</p>
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="" type="button" class="w-20 rounded-4 btn btn-lg text-center colorButton shadow-gn grow-button">
                    <img class="iconSize" src="../../media/public_assets/presentation.png" alt="Icone Présentation">
                    <p class="colorText responsiveText">Présentation</p>
                </a>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <a href="" type="button" class="w-20 rounded-4 btn btn-lg text-center colorButton shadow-gn  grow-button"><!-- "disabled" grow-button Pour l'instant jusqu'à ce que la page forum fonctionne dès que ça fonctionne virer le disabled-->
                    <img class="iconSize" src="../../media/public_assets/charte.png" alt="Icone Charte">
                    <p class="colorText responsiveText">Charte d'utilisation</p>
                </a>
            </div>
        </div>
    </div>
</section>